.machine-square{
  height: 100px;
  width: 100px;
  background-color: #fff;
  margin: 10px;

  &.on{
    border: 3px solid #2196f3;
  }

  &.off{
    border: 3px solid #364044;
  }

  &.active{
    background-color: #2cd7b7;
  }

}
